psutil~=7.0.0
py-cpuinfo~=9.0.0
requests~=2.32.5
beautifulsoup4~=4.14.2
pandas~=2.3.3
matplotlib~=3.10.6
seaborn~=0.13.2
numpy~=2.3.5
scipy~=1.16.3
scikit-learn~=1.7.2
statsmodels~=0.14.5
gurobipy~=13.0.0
sqlalchemy~=2.0.43
pillow~=12.0.0
semopy~=2.3.11
pygame~=2.6.1
pingouin~=0.5.5
torch~=2.9.1
openpyxl~=3.1.5
setuptools~=80.9.0
optuna~=4.6.0